<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <link rel="icon" sizes="48x48" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <style>
            :root {
                --bulma-family-primary: 'Poppins';
                --bulma-family-secondary: 'Open Sans';

                --bulma-body-color: #181818;
                --bulma-scheme-main: #F2F2F2;

                .navbar-item {
                    color: #181818;
                }

                .input {
                    border-color: #F2F2F2;
                    background-color: #F2F2F2;
                }

                .input::placeholder {
                    color: #323232;
                }

                .button {
                    border-color: #323232;
                    color: #F2F2F2;
                    background-color:#323232;
                }

                .card {
                    --bulma-card-background-color: #467CB5;
                }
            }
        </style>

        <title>VOLT - Volatility Newsletter</title>
  </head>
  <body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="" class="navbar-item ml-4 pt-2">
                <img src="{{ url_for('static', filename='images/line_logo_black.png') }}" alt="Logo" />
            </a>
            <a class="navbar-burger" id="burger">
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="navbar-menu" id="nav-links">
            <div class="navbar-end">
                <p class="navbar-item block p-4 mr-4 has-text-weight-semibold">
                    About Us
                </p>
            </div>
        </div>
    </nav>
    <section class="section is-medium">
        <div class="columns is-vcentered is-centered">
            <div class="column is-half has-text-centered">
                <h1 class="block">
                    The VOLT - Volatility Financial Newsletter
                </h1>
                <p class="is-family-primary">
                    VOLT is a weekly financial newsletter designed for active participants in the stock market, 
                    delivering timely insights on market volatility and risk. Each week, we dive into the current 
                    state of market risk, highlighting key events, economic data, and trends that could impact volatility. 
                    Our goal is to equip traders and investors with the critical information they need to navigate potential shifts 
                    in the market, stay ahead of risks, and seize opportunities.<br><br>

                    With a focus on volatility, VOLT offers a clear and concise analysis of the forces that drive market fluctuations, 
                    empowering you to make informed decisions in real-time.
                </p>
            </div>
            <div class="column"></div>
            <div class="column is-one-third">
                <div class="card has-text-white	">
                    <div class="card-content has-text-centered">
                        <h1 class="block has-text-weight-semibold pr-4">
                            Subscribe
                        </h1>
                        <p class="is-family-secondary is-size-6">
                            The Financial Newsletter <br>
                            Focused on Volatility and Risk <br>
                            Every Sunday
                        </p>
                        <div class="block">
                            <form class="field is-grouped is-grouped-centered p-3"action="/submit" method="post">
                                <p class="control">
                                    <input class="input is-small" name="email" id="email" type="input" placeholder="Email" required>
                                </p>
                                <p class="control">
                                    <input type="submit" value="Submit" class="button is-small">
                                </p>
                            </form>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p class="is-family-secondary">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>  
            <div class="column"></div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
  </body>
</html>